.ad-banner {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom:0;
}

.articles-ad-banner {
	font-size : medium;
}

#article1:hover {
	text-decoration: underline;
}

#article2:hover {
	text-decoration: underline;
}
#article3:hover {
	text-decoration: underline;
}
#article4:hover {
	text-decoration: underline;
}


.map-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;>
height:0;
}

.map-responsive iframe {
left:0;
top:0;
height:60%;
width:60%;
position:absolute;
}


.description{
	padding-left:40px;
	padding-right:40px;
}


.coordonnees{
	padding-right : 15px;
}