/*police google -> ne pas prendre les balises styles*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@import url("menu.css");

@import url("banner.css");

@import url("services.css");

@import url("contactez-nous.css");

@import url("ad-banner.css");

@import url("end-banner.css");

@import url("partenaires.css");

@import url("projets.css");


a	{
	text-decoration:none;
}

body { font-family: 'Montserrat', sans-serif;
margin:0;
text-decoration: none}
}

h1,h2,h3 {
	font-family: 'Comfortaa', cursive; 
}



